.terms{
    color: white;
    margin: 2%;
}
.terms-title{
    color: white;
    text-align: center;
}
.card{
    background-color: rgba($color: #000, $alpha: 0.5);

}
.code{
    text-align: justify;
    margin-left: 35%;

    
}
pre{
    color: white;
    font-size: 100%;
}
.green{
    color: green;
}
.red{
    color: red;
}