<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
    <div class="filter"></div>
    <div class="container">


      <div class="card">
        <h1 class="terms-title"><strong>Terms of use</strong></h1>
        <h3 class="terms">Dear user, we invite you to choose three interests
          so we can help you join the group of users who share the same interests as you.<br>
          After that, you are invited to pass some online tests about the chosen interests.
        </h3>

        
          <div class="code"> 
            <pre><span class="green">if (test_result > 60%)</span></pre>
            <pre>    print("welcome to prof'IT");</pre>
            <pre><span class="red">else</span></pre>
            <pre>    print("There is always a seconde chance, please try again");</pre>
          </div>
          <a a href="/#/register"  class="btn btn-danger btn-round">I Accept the terms</a>


      </div>
      <div class="footer register-footer text-center">
        <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by GADY</h6>
      </div>
    </div>
  </div>
</div>